<% include repHtml/head %>


  <div class="col-sm-8 col-sm-offset-2">
    <div class="jumbotron text-center">
      <h1><span class="fa fa-sign-in"></span> Login</h1>

      <% if (message != null) { %>
        <div class="alert-danger"><%= message %></div>
      <% } %>

      <form action="/login" method="post">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" name="password" />
        </div>
        <div>
          <input type="submit" class="form-control" value="Submit" />
        </div>
      </form>
    </div>
    <hr>
    <p> GO <a href="/">acceuil</a>  !</p>
  </div>
</body>
</html>
