<% include repHtml/head %>


    <div class="col-sm-10 col-sm-offset-1">
      <div class="text-center">
        <h1><%= error.status %>: <%= message %></h1>
         <img src="/images/erreur-404-2.png" alt="ImageErreur404"/>
        <!-- <pre><%= error.stack %></pre> -->
        <br />
        <a href="/" class="btn btn-default"><span class="fa fa-home"></span>Retour a l'acceuil</a>
      </div>
    </div>
  </body>
</html>
