<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
    <title></title>
  </head>
  <body>
<h1> Bandeau du Cosy !!!!!!</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Accueil<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="laCarte">Notre Carte</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="aProposDeNous">A propos de nous</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="nousContacter">Contact</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="auth">Se Connecter</a>
      </li>

    </ul>

  </div>
</nav>
